<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cuerpo General de Bomberos del Perú</mat-card-title>
      <mat-card-subtitle>Barranco | Lima - Perú</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.peru21.pe/files/ec_article_multimedia_gallery/uploads/2017/08/11/598e051dd6bd9.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          En la compañía de bomberos Grau 16 de Barranco todos se llaman hermanos. Con 40 años en servicio, el brigadier Joaquín Escobar es uno de los más antiguos en la bomba y junto a él una veintena de jóvenes, en edad o corazón, aguardan alertas una tarde de diciembre. Mientras esperan, unos revisan las unidades, otros practican con las cortadoras hidráulicas, los demás limpian el lugar. Desde la puerta observa Pablo Mariluz, un ex bombero 
          que no deja de visitarlos todos los días, a pesar de haberse retirado hace dos años por sobrepasar los 70 que dicta la norma.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>